*{
    box-sizing: border-box;

}
nav{
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;

}
a{
    text-decoration: none;
    border: white solid 3px;
    border-radius: 10%;
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 7px;
    margin: 10px;
}
h3{
    color: white;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding-top: 5px;
    padding-bottom: 5px;

}
p{
    color: black;
    text-align: center;

}
img{
    border-radius: 15%;
    border: rgb(34, 34, 34) 5px;
    width: 100%;

}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border: solid rgb(34, 34, 34) 3px;
    border-radius: 10px;

}
div{
    border: solid rgb(34, 34, 34) 2px;
    border-radius: 10px;
}
@media screen and (max-width: 900px){
    section{
    grid-template-columns: 1fr 1fr
    }
}

@media screen and (max-width: 800px){
    section{
    grid-template-columns: 1fr 1fr
    }
}
@media screen and (max-width: 16000px){
    nav{
    grid-template-columns: 1fr 1fr 
    }
}
@media screen and (max-width: 700px){
    nav{
    grid-template-columns: 1fr 
    }
}


@media screen and (max-width: 700px){
    section{
    grid-template-columns: 1fr 
    }
}

